{%extends 'fileapp/base.html'%}
{%load static%}
{%block body_block%}
<link rel="stylesheet" href="{% static 'fileapp/css/fileliststyle.css' %}">
<div class="list">
<h2>File List</h2>
{%if filelist%}
<table>
    <thead>
        <th>File name</th>
        <th>File upload date</th>
    </thead>
    {%for file in filelist%}
    <tr>
        <td>{{file.file.name}}</td>
        <td>{{file.upload_date}}</td>
    </tr>
    {%endfor%}
</table>
{%else%}
<p>No files are uploaded yet....</p>
</div>
{%endif%}
{%endblock%}