{%extends 'fileapp/base.html'%}
{%load static%}
{%block body_block%}
<link rel="stylesheet" href="{% static 'fileapp/css/homestyle.css' %}">
<div class="homebody">
<h2>About this website</h2>

<h3>Part 1: User Portal</h3>
<ul>
<li> Create a user-friendly website with a secure login feature.</li>
<li> Enable users to upload files effortlessly.</li> 
<li> Implement a feature allowing users to view a list of their uploaded files.</li>
</ul>

<h3>Part 2: User Interaction</h3>
<ul>
<li> Develop a search functionality for users to explore and view profiles of their peers.</li>
<li> Facilitate file-sharing capabilities, empowering users to share their uploaded files with others.</li>
<li> Enhance the user experience by displaying shared files from fellow users in the "uploaded files" section.</li>
</ul>
</div>
{%endblock%}