.userprofile {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.userprofile h2 {
    color: #333;
}

.userprofile p {
    color: #666;
    margin-bottom: 10px;
}

.userprofile img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}

.userprofile a {
    text-decoration: none;
    color: white;
    background-color: rgb(96, 96, 248);
    transition: border-bottom 0.5s ease;
}

.userprofile a:hover {
    border-bottom: 4px solid white; 
}
